:root {
  --font-main: #ffffff;
  --font-hover: #cacaca;
  --font-active: #a1a1a1;

  --background-main: #202128;
  --background-main-dark: #121317;
  --background-secondary: #3c3e4c;
  --background-tertiary: #63667b;

  --button-main: #808080;
  --button-hover: #bdbdbd;

  --accent-main: #6ed6ff;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}
